$primary-text-color: white;
$secondary-text-color: #333;
$green-color: yellowgreen;
$red-color: orangered;
$grey-color: grey;

$breakpoint: 768px;
$border-radius: 4px;

$regular-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
$mono-font: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
  monospace;
