body {
    @apply text-white bg-gray-900;
  }
  
h1,
h2 {
  @apply font-bold;
}

a:hover,
a:focus {
  @apply text-gray-400;
}

button {
  @apply font-semibold border-2 rounded-md py-2 px-4 cursor-pointer border-white;
  min-width: 12rem;
  min-height: 3rem;
}

button:focus {
  @apply outline-none shadow-outline;
}

button:not(:disabled):hover,
button:not(:disabled):active {
  @apply bg-white text-gray-900;
}

button:disabled {
  @apply cursor-default;
}
  