@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a:hover,
  a:focus {
    @apply text-gray-400;
  }
}

@layer components {
  .button {
    @apply font-semibold border-2 rounded-md py-2 px-4 cursor-pointer focus:outline-none focus:ring disabled:cursor-default;
    min-width: 12rem;
  }
}
