@import '../utilities/variables';

.error {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 16px 0;
    font-family: $mono-font;
    text-align: center;

    &:last-child {
      margin-top: 60px;
    }
  }
}
