@import '../utilities/variables';

.spinner {
  width: 220px;
  height: 220px;
  margin: auto;

  &-node {
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: transparent;
    border: 15px solid transparent;
    border-top: 15px solid $grey-color;
    // border-left: 15px solid $grey-color;
    animation: 0.9s spin linear infinite;

    &:nth-child(2) {
      border: 15px solid transparent;
      border-right: 15px solid $green-color;
      // border-bottom: 15px solid $green-color;
      animation: 1.3s spin linear infinite;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
