@import '../utilities/variables';

.form {
  margin-top: 16px;
  align-items: center;
  display: flex;
  flex-direction: column;

  &-radio-container {
    border: 2px solid $primary-text-color;
    border-radius: $border-radius;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-top: 4px;

    & input {
      position: absolute;
      left: -9999px;
      top: -9999px;
    }

    & input + label {
      padding: 6px 20px;
      width: 100%;
      border-right: 2px solid $primary-text-color;
      text-align: center;

      &:last-child {
        border-right: none;
      }
    }

    & input + label:hover {
      background-color: $primary-text-color;
      color: $secondary-text-color;
      cursor: pointer;
    }

    & input:checked + label,
    & input:checked + label:active {
      background-color: $primary-text-color;
      color: $secondary-text-color;
    }
  }

  &-number-container {
    border: 2px solid $primary-text-color;
    border-radius: $border-radius;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    margin-top: 4px;

    & input[type='number'] {
      max-width: 100px;
      background: transparent;
      outline: none;
      border: none;
      padding: 8px 10px;
      color: $primary-text-color;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      border-left: 2px solid $primary-text-color;
      border-right: 2px solid $primary-text-color;
      border-radius: 0px;
      -moz-appearance: textfield;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
      }
    }

    & button {
      border: none;
      border-radius: 0px;
      min-width: 100px;
      outline: none;
      touch-action: none;
    }
  }
}
