@import './utilities/variables';

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: $regular-font;
  background: #141e30;
  background: linear-gradient(150deg, #37606e, #141e30);
  color: $primary-text-color;
  height: 100%;
  min-height: 100vh;
}

h1,
h2 {
  margin-top: 16px;
}

a,
a:visited {
  color: $primary-text-color;
}

a:hover,
a:focus {
  color: darken($primary-text-color, 20%);
}

button {
  border: none;
  padding: 10px 20px;
  min-width: 200px;
  border-radius: $border-radius;
  background: transparent;
  border: 2px solid $primary-text-color;
  color: $primary-text-color;
  font-weight: 600;
  cursor: pointer;

  @media (min-width: $breakpoint) {
    &:hover,
    &:active,
    &:focus {
      background-color: $primary-text-color;
      color: $secondary-text-color;
      transition: all, 0.3s;
    }
  }

  &[disabled] {
    color: $grey-color;
    border-color: $grey-color;
    cursor: default;
  }

  &[disabled]:hover,
  &[disabled]:active {
    background: none;
  }
}

.app {
  max-width: 768px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  animation: scale-in-center 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  @keyframes scale-in-center {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @media (min-width: $breakpoint) {
    justify-content: center;
  }
}

.hidden {
  visibility: hidden;
}
